body > div.container-fluid {
    height: 85vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.container-resetpassword {
    max-width: 375px;
    height: fit-content;
}

    .container-resetpassword > form {
        height: fit-content;
    }

        .container-resetpassword > form > div.col-12 {
            height: fit-content;
        }

