@using UserLoginFeature.Application.ViewModels;
@model AuthViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-sm container-resetpassword mt-3 bg-body-tertiary rounded pb-3">
    <form class="needs-validation pb-4" novalidate>
        <div class="form-floating mb-3 mt-3">
            <input asp-for="ResetPassword!.Email" type="email" class="form-control" placeholder="name@example.com" value="@Model.ResetPassword!.Email" readonly>
            <label asp-for="ResetPassword!.Email"></label>
        </div>
        @Html.AntiForgeryToken()
    </form>

    <p>We sent reset password email to you. Please check your mail then reset your email.</p>

    <a id="resend-resetpassword" class="text-light" style="cursor: pointer;">Resend Email</a>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/auth/reset-password.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/auth/reset-password.js"></script>
}